@import 'tailwindcss';

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.5656 0.1740 25.3525);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0.5933 0.1246 75.9696);
  --muted: oklch(1.0000 0 0);
  --muted-foreground: oklch(0.5371 0.0124 76.5287);
  --accent: oklch(1.0000 0 0);
  --accent-foreground: oklch(0.4800 0.1629 26.5575);
  --destructive: oklch(0.5403 0.1975 27.6673);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(1.0000 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.5656 0.1740 25.3525);
  --chart-1: oklch(0.6015 0.2051 26.7014);
  --chart-2: oklch(0.5656 0.1740 25.3525);
  --chart-3: oklch(0.4800 0.1629 26.5575);
  --chart-4: oklch(0.6815 0.1780 49.6765);
  --chart-5: oklch(0.5783 0.1520 47.3264);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.5656 0.1740 25.3525);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(1.0000 0 0);
  --sidebar-accent-foreground: oklch(0.4800 0.1629 26.5575);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.5656 0.1740 25.3525);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.25);
  --shadow-xs: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.25);
  --shadow-sm: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 1px 2px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 1px 2px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow-md: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 2px 4px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow-lg: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 4px 6px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow-xl: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 8px 10px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow-2xl: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 1.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2511 0.0083 59.2785);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.3177 0.0080 43.1783);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.3177 0.0080 43.1783);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.6015 0.2051 26.7014);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5783 0.1520 47.3264);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3177 0.0080 43.1783);
  --muted-foreground: oklch(1.0000 0 0);
  --accent: oklch(0.6815 0.1780 49.6765);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.7863 0.1080 20.4788);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4490 0.0104 67.5595);
  --input: oklch(0.4490 0.0104 67.5595);
  --ring: oklch(0.6015 0.2051 26.7014);
  --chart-1: oklch(0.9218 0.0367 17.8369);
  --chart-2: oklch(0.7863 0.1080 20.4788);
  --chart-3: oklch(0.6799 0.1523 22.8937);
  --chart-4: oklch(0.9005 0.1216 90.3669);
  --chart-5: oklch(0.8372 0.1363 79.9560);
  --sidebar: oklch(0.2511 0.0083 59.2785);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.6015 0.2051 26.7014);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6815 0.1780 49.6765);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4490 0.0104 67.5595);
  --sidebar-ring: oklch(0.6015 0.2051 26.7014);
  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.25);
  --shadow-xs: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.25);
  --shadow-sm: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 1px 2px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 1px 2px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow-md: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 2px 4px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow-lg: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 4px 6px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow-xl: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 0.50), 1px 8px 10px -3px hsl(1.5789 63.3333% 23.5294% / 0.50);
  --shadow-2xl: 1px 1px 18px -2px hsl(1.5789 63.3333% 23.5294% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}


@layer base {
    * {
        @apply border-[hsl(var(--border))];
    }
    body {
        @apply bg-background text-foreground;
    }
}
